button {
  background-color: var(--white);
  height: 27px;
  padding-left: 8px;
  padding-right: 8px;
  padding-inline: 8px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-block: 4px;
  border-radius: var(--border-radius---large);
  border: 2px solid var(--contents--content-tertiary);
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.25rem;
  }

  & svg {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.25rem;
  }

  & span {
    margin-bottom: 0.125rem;
    font-size: var(--paragraph---small);
  }
}

.checked {
  background-color: var(--primary);
  border: 2px solid var(--primary);

  & span {
    color: var(--white);
  }

  & svg path {
    stroke: white;
  }
}

.hidden {
  display: none;
}
