.manner-temp-container {
  font-family: Arial, sans-serif;
  padding: 10px;
}

.manner-header {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 5px;
}

.manner-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #777;
  margin-bottom: 5px;
}

.current-temp {
  color: #27ae60; /* 초록색 강조 */
  font-weight: bold;
}

.manner-bar {
  width: 70%;
  height: 10px;
  background-color: #e6e6e6;
  border-radius: 5px;
  overflow: hidden;
}

.manner-progress {
  height: 70%;
  background-color: #27ae60;
  border-radius: 5px;
}
