<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OrganizerProfile | board components</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link rel="stylesheet" href="OrganizerProfile.css" />
  </head>
  <body>
    <h1 class="nickname" id="nickname">라옹</h1>
    <p class="profile">
      <span id="location">연희</span>동 인증 <span id="authCount">26</span>회 •
      <span id="lastSeen">2</span>시간 전
    </p>
    <script src="OrganizerProfile.js"></script>
  </body>
</html>
