<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="/src/style/variable.css" />
    <link rel="stylesheet" href="/src/style/profile-page.css" />
  </head>
  <body>
    <div class="container">
      <!-- 프로필 헤더 -->
      <div class="profile-header">
        <profile-header></profile-header>
      </div>

      <!-- 매너 온도 및 리뷰 섹션 -->
      <div class="profile-components">
        <profile-temperature></profile-temperature>

        <!-- 각기 다른 속성으로 변형된 컴포넌트 -->
        <profile-contents
          text="활동 배지"
          link="https://example.com/qna"
        ></profile-contents>
        <profile-contents
          text="판매 상품"
          link="https://example.com/settings"
        ></profile-contents>
        <profile-contents
          text="받은 매너 평가"
          link="https://example.com/notices"
        ></profile-contents>

        <chat-balloon
          count="8"
          message="제가 있는 곳까지 와서 거래했어요."
        ></chat-balloon>
      </div>

      <!-- 푸터 -->
      <div class="footer">
        <profile-footer></profile-footer>
        <p>profile page for test</p>
      </div>
    </div>

    <script type="module" src="/src/components/Profile/main.js"></script>
  </body>
</html>
