.board-field {
  background-color: var(--white);
  padding: 12px;
  display: flex;
  display: grid;
  grid-template-columns: 1fr auto; /* 두 개의 열을 사용. 첫 번째 열은 세로로 배치된 요소들, 두 번째 열은 board-person */
  gap: 20px; /* 두 열 사이의 간격 */
  position: relative;
}
.content {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
}
.board-field > *:nth-child(2) {
  align-self: flex-start;

  position: absolute;
  bottom: 12px;
  right: 12px;
}

h2 {
  margin: 0;

  font-size: var(--paragraph---medium);
  line-height: 180%;
  font-weight: 500;
}

span {
  line-height: 180%;
  color: var(--contents--content-tertiary);
  font-size: var(--paragraph---small);
}
