.board-field {
  background-color: var(--white);
  padding: 0.75rem;

  display: grid;
  grid-template-columns: 1fr auto;
  position: relative; /* 'position' 속성 설정 */
  z-index: 1;
}
.content {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
}
.board-field > board-person {
  align-self: flex-start;

  padding-top: 4.375rem;
  padding-right: 0.625rem;
}

h2 {
  margin: 0;

  font-size: var(--paragraph---medium);
  line-height: 180%;
  font-weight: 500;
}

span {
  line-height: 180%;
  color: var(--contents--content-tertiary);
  font-size: var(--paragraph---small);
}

img {
  width: 3.75rem;
  height: 3.75rem;

  padding-top: 0;
  border-radius: 4px;
}
