.container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.status {
  padding: 0.25rem 0.5rem;

  font-size: 0.656rem;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  border-radius: 4px;
  color: var(--white, #ffffff);

  & .hidden {
    display: none;
  }

  &.reserved {
    background-color: var(--tertiary, #719cf7);
  }

  &.complete {
    background-color: var(--contents--content-tertiar, #9da1b4);
  }
}

.price {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--black, #000000);
  white-space: nowrap;
}
