<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>withUs | board components</title>
    <link
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="withUs.css" />
    <script type="module" src="WithUs.js"></script>
  </head>
  <body>
    <with-us class="withUs" text="text"></with-us>
  </body>
</html>
